.grid-item {
    position: relative;
    border-radius: 4px;
}

.grid-item.selected {
    outline: 4px solid #4FE24A;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.item-inner-content {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.item-inner-content div {
    display: inline-block;
    cursor: pointer;
    background-color: #FFFFFF;
    padding: .5rem 1.5rem;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    color: #000000;
}

.item-inner-content h3 {
    margin: 20px 0 0 0;
    font-size: 40px;
    color: #FFFFFF;
}