header {
    color: #FFFFFF;
    background-color: #28293E;
    height: 400px;
}

header p {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10% 0 10%;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo h2 {
    margin: 0;
}

.header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    max-width: 555px;
}

.header-title {
    margin: 80px auto 0 auto;
    text-align: center;
    max-width: 555px;
}

.header-title p {
    line-height: 30px;
}

.header-title h1 {
    font-size: 72px;
    margin-top: 0;
}

.contact-button {
    background: none;
    color: #FFFFFF;
    padding: 0.6rem 2rem;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1039px) {
    .header-menu {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .header-title {
        padding: 0 10%;
    }
}